{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.71.1119"}}
                  :main-opts   ["-m" "kaocha.runner"]
                  :exec-fn     kaocha.runner/exec-fn}}}